include ../partials/header.pug
include ../partials/nav.pug
main.page.testimonials
br
.row
  .col-lg-6.mb-4
    .card.shadow.mb-4
      .card-header.py-3
        h6.text-primary.font-weight-bold.m-0 Submit Date, Time, and Location if you can&apos;t find any on the right
      ul.list-group.list-group-flush
        li.list-group-item
          .row.align-items-center.no-gutters
            .col.mr-2
              // html
              form(action='/post_game',method='post')
                Label="Pick a Date: " 
                input#date(type='date', name='date')
                br
                br
                Label="Pick Time (Hour/Minute/AM or PM): "
                input#time(type="time", name="time")
                br
                br
                .form-group
                  label(for='location') Enter Location:
                  input#loc.form-control(type='text' name="location")
                  br
                  for item in data3
                    if(item.UserGroup_Id==1)
                      input.btn.btn-info(type='submit' value='Submit Post' onclick='AddDateLocation()')
                      br
                    else
                      input.btn.btn-secondary(type='submit' value='Only Coach Can Post' onclick='AddDateLocation()' disabled)
                      br
              .col-auto
                // <button type="button" class="btn btn-primary">Primary</button>
    .card.shadow.mb-4
      .card-header.py-3
        h6.text-primary.font-weight-bold.m-0 Your Team's Posts
      ul#Thicklist.list-group.list-group-flush
        if(data2)
          for item in data2
            li.list-group-item
              .row.align-items-center.no-gutters
                .col.mr-2
                  h6.mb-0(name='teamname')
                    strong=item.TeamName
                  span.text-xs(name='time')=item.GTime
                  -var date = new Date(item.GDate);
                  -var mydate=" " +(date.getMonth()+1) +'/' + date.getDate() + '/'+date.getFullYear();
                  span.text-xs(name='date')=mydate
                  span.text-xs(name='Location')=" At " + item.Arena
                .col-auto

  .col
    .card.shadow.mb-4
      .card-header.py-3
        h6.text-primary.font-weight-bold.m-0 Other Team's Posts
      ul#Thicklist.list-group.list-group-flush
        if(data1)
          for item in data1
            li.list-group-item
              .row.align-items-center.no-gutters
                .col.mr-2
                  h6.mb-0(name='teamname')
                    strong=item.TeamName
                  span.text-xs(name='time')=item.GTime
                  -var date = new Date(item.GDate);
                  -var mydate=" " +(date.getMonth()+1) +'/' + date.getDate() + '/'+date.getFullYear();
                  span.text-xs(name='date')=mydate
                  span.text-xs(name='Location')=" At " + item.Arena
                .col-auto
                  for val in data3
                    if(val.UserGroup_Id==1)
                      for coaches in data4
                        if(coaches.Team_Id==item.Team_Id)
                          -var mail="mailto:"+coaches.email+"?Subject=Contacting%20Coach%20"+coaches.name;
                          a(href=mail)
                            input.btn.btn-info(type='submit' value='Contact' onclick='AddDateLocation()')
                    else
                      input.btn.btn-secondary(type='submit' value='Only Coach Can Contact' disabled)
