include ../partials/header.pug
include ../partials/nav.pug
main.page.testimonials
  section.clean-block.dark
    .container
      .block-heading
        h2.text-info=data2[0].TeamName
        p.lead=data2[0].TeamDesc
      .row
        .col
          button.btn.btn-primary(type='button') +
      br
      if(data1)
      -var count=0
        for item in data1
          if (count>0 && count%3==0)
            </div><div class="row">
          else if (count==0)
            <div class="row">
          .col-lg-4
            .card.border-2.border-primary
                .card-body
                  .btn-group.pull-right
                    button.btn
                      i.fa.fa-trash
                -var source=""
                -source="../img/portrait/"+item.username+".jpg"
                  img.rounded.mx-auto(src=source)
                  h4.text-center=item.username
                  if item.UserGroup_Id === 2
                    h5.text-center.text-primary Player
                  else
                    h5.text-center.text-primary Coach
            -count++

    br
    p Upcoming Matches
    ul.list-group
      li.list-group-item
        span Team Name #2
        p @7PM City Park, Boulder
      li.list-group-item
        span Team Name #3
        p @1PM City Park, Lafayette
      li.list-group-item
        span Team name #4
        p N/a
    ul.list-group
script(src='assets/bootstrap/js/bootstrap.min.js')
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous')
